.topnav {
  overflow: hidden;
  background-color: #ffffff;
}  
.topnav a {
  float: left;
  display: block;
  color: rgb(114, 167, 247);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: "Georgia", serif;
}
.topnav a:hover {
  background-color: #ffffff;
  color: rgb(191, 242, 255);
} 
.topnav a.active {
  background-color: #4ecaff;
  color: white;
}  
.dropdown {
  float: left;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
}
.dropdown .dropbtn {
  font-size: 17px; 
  border: none;
  outline: none;
  color: rgb(145, 179, 219);
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Times New Roman', Times, serif; 
  margin: 0; 
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background: hsl(0, 0%, 100%);
  color: rgb(191, 242, 255);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.box {
  width: 300px;
  height: 150px;
  border: 1px;
  background-color: #eee;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  opacity: 0.8;
  float: left;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.about {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
}
.about h1 {
  font-size: 60px;
  font-family: "Times New Roman", serif;
  margin-bottom: 20px;
  text-align: center;
}
.about p {
  font-size: 20px;
  font-family: "Times New Roman", serif;
  margin-bottom: 10px;
}
.about button {
  margin-top: 20px;
}
.about table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.about td {
  vertical-align: middle;
}
.tracker {
  text-align: left;
}
.centered {
  text-align: center;
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 60px;
  font-family: "Georgia", serif;
  font-weight: normal;
}
.heading1 {
  font-size: 25px;
  font-family: "Georgia", serif;
  font-weight: normal;
}
p {
  font-size: 20px;
  font-family: "Georgia", serif;
}
button,
button:visited {
  font-family: "Georgia", serif;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #64beff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c3e4ff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: 0 auto;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 15px;
  text-decoration: none;
}
.login-form h1 {
  font-size: 40px;
  font-family: "Georgia", serif;
}
.login-form p {
  font-size: 15px;
  font-family: "Georgia", serif;
}
.login-form .input-wrapper {
  margin-bottom: 10px;
  width: 100%;
}
.login-form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}